In [2]:
import pandas as pd

In [28]:
from data_utils import (
    detect_missing_values,
    detect_duplicates,
    detect_outliers,
    normalize_numeric_columns,
    remove_duplicates_custom,
)

In [38]:
df = pd.read_csv("sample_data/hr_attrition.csv")
df

,Age,Attrition,Department,JobRole,MonthlyIncome,YearsAtCompany,WorkLifeBalance,Gender
0,28.0,Yes,Sales,Sales Executive,4500.0,2,3.0,Female
1,35.0,No,Research & Development,Research Scientist,6200.0,6,4.0,Male
2,42.0,No,Research & Development,Laboratory Technician,4800.0,10,2.0,Male
3,29.0,Yes,Sales,Sales Executive,NaN,1,3.0,Female
4,33.0,No,Human Resources,HR Manager,7000.0,5,NaN,Female
5,41.0,Yes,Sales,Sales Representative,5200.0,8,2.0,Male
6,26.0,No,Research & Development,Research Scientist,3900.0,1,4.0,Male
7,38.0,No,Research & Development,Laboratory Technician,5100.0,9,3.0,NaN
8,45.0,No,Sales,Manager,9000.0,20,2.0,Male
9,31.0,Yes,Sales,Sales Executive,4600.0,3,3.0,Female
10,31.0,Yes,Sales,Sales Executive,4600.0,3,3.0,Female
11,27.0,No,Research & Development,Research Scientist,4200.0,2,4.0,Male
12,36.0,No,Research & Development,Laboratory Technician,NaN,7,2.0,Female
13,50.0,No,Human Resources,HR Manager,8500.0,25,3.0,Male
14,24.0,Yes,Sales,Sales Representative,3800.0,1,2.0,Female
15,29.0,No,Research & Development,Research Scientist,4100.0,2,4.0,Male
16,34.0,No,Research & Development,Laboratory Technician,4900.0,6,NaN,Male
17,40.0,Yes,Sales,Sales Executive,5600.0,12,1.0,Female
18,37.0,No,Sales,Manager,7800.0,15,3.0,Male
19,28.0,Yes,Sales,Sales Executive,NaN,2,3.0,Female
20,32.0,No,Research & Development,Research Scientist,6000.0,5,4.0,Male
21,39.0,No,Research & Development,Laboratory Technician,5300.0,11,3.0,Female
22,46.0,No,Sales,Manager,8800.0,22,2.0,Male
23,30.0,Yes,Sales,Sales Representative,4200.0,4,3.0,Female
24,25.0,No,Research & Development,Research Scientist,3700.0,1,4.0,NaN
25,43.0,No,Human Resources,HR Manager,7600.0,18,2.0,Female
26,48.0,No,Sales,Manager,9200.0,24,2.0,Male
27,34.0,Yes,Sales,Sales Executive,4800.0,6,3.0,Female
28,29.0,No,Research & Development,Research Scientist,NaN,3,4.0,Male
29,41.0,No,Research & Development,Laboratory Technician,5500.0,14,3.0,Female
30,27.0,Yes,Sales,Sales Representative,3900.0,2,2.0,Female
31,36.0,No,Research & Development,Research Scientist,6100.0,8,4.0,Male
32,44.0,No,Sales,Manager,8300.0,19,NaN,Male
33,38.0,No,Research & Development,Laboratory Technician,5200.0,10,3.0,Female
34,33.0,Yes,Sales,Sales Executive,4700.0,5,3.0,Female
35,52.0,No,Human Resources,HR Manager,8900.0,28,2.0,Male
36,26.0,No,Research & Development,Research Scientist,3600.0,1,4.0,Male
37,31.0,Yes,Sales,Sales Representative,4100.0,4,3.0,Female
38,35.0,No,Research & Development,Laboratory Technician,5000.0,7,3.0,Male
39,47.0,No,Sales,Manager,8700.0,21,2.0,Male
40,28.0,Yes,Sales,Sales Executive,4400.0,3,3.0,Female
41,39.0,No,Research & Development,Research Scientist,6300.0,12,4.0,Male
42,42.0,No,Research & Development,Laboratory Technician,NaN,16,2.0,Female
43,24.0,Yes,Sales,Sales Representative,3700.0,1,2.0,Female
44,45.0,No,Sales,Manager,9100.0,23,2.0,Male
45,30.0,No,Research & Development,Research Scientist,5800.0,6,4.0,Male
46,34.0,No,Research & Development,Laboratory Technician,4950.0,7,NaN,Female
47,29.0,Yes,Sales,Sales Executive,4600.0,4,3.0,Female
48,31.0,Yes,Sales,Sales Executive,4600.0,4,3.0,Female
49,58.0,No,Sales,Manager,15000.0,35,2.0,Male
50,58.0,No,Sales,Manager,15000.0,35,2.0,Male
51,22.0,Yes,Research & Development,Research Scientist,3200.0,0,4.0,Female
52,61.0,No,Human Resources,HR Director,18000.0,40,1.0,Male
53,19.0,Yes,Sales,Sales Representative,2500.0,0,3.0,Female
54,64.0,No,Sales,Manager,22000.0,42,2.0,Male
55,45.0,No,Research & Development,Research Scientist,12500.0,20,4.0,Female
56,23.0,Yes,Sales,Sales Executive,3000.0,1,3.0,Female
57,59.0,No,Research & Development,Laboratory Technician,11000.0,30,2.0,Male
58,60.0,No,Sales,Manager,20000.0,38,1.0,Male
59,NaN,NaN,Sales,NaN,99999.0,50,5.0,Unknown

In [39]:
detect_missing_values(df)

Age                1
Attrition          1
Department         0
JobRole            1
MonthlyIncome      5
YearsAtCompany     0
WorkLifeBalance    4
Gender             2
dtype: int64

In [40]:
detect_duplicates(df)

2

In [41]:
detect_outliers(df)

{'Age': 0, 'MonthlyIncome': 6, 'YearsAtCompany': 1, 'WorkLifeBalance': 0}

In [42]:
df_normalized = normalize_numeric_columns(df)
df_cleaned = remove_duplicates_custom(df)

df_normalized.head()

,Age,Attrition,Department,JobRole,MonthlyIncome,YearsAtCompany,WorkLifeBalance,Gender
0,0.200000,Yes,Sales,Sales Executive,0.020513,0.04,0.50,Female
1,0.355556,No,Research & Development,Research Scientist,0.037949,0.12,0.75,Male
2,0.511111,No,Research & Development,Laboratory Technician,0.023590,0.20,0.25,Male
3,0.222222,Yes,Sales,Sales Executive,NaN,0.02,0.50,Female
4,0.311111,No,Human Resources,HR Manager,0.046154,0.10,NaN,Female

In [43]:
df.columns

Index(['Age', 'Attrition', 'Department', 'JobRole', 'MonthlyIncome',
       'YearsAtCompany', 'WorkLifeBalance', 'Gender'],
      dtype='object')